form {
    width: 500px;
    margin: 20px auto;
    background: #cccccc;
    font-size: 0;
}

div:nth-child(even){
    background: #aaaaaa;
}
label {
    /*width: calc(100% - 20px);*/
    width: 100%;
    padding: 10px 10px 10px 20px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 16px;
}
input {
    width: 20px;
    margin: 0;
}
input:checked+label{
    text-decoration: line-through;
    margin-right: -20px;
}