html {
    height:100%;
}
html,body{
    min-height: 100%;
    margin: 0;
    }
header{
    background: #ccc;
    padding: 50px;
}
main{
    background: orange;
    padding: 50px;
}
section {
   padding: 50px;
    border: 2px solid black;
    text-align: center;
}

div{
    width: 200px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border: 2px solid black;
    margin-left: 50px;
    margin-right: 50px;

}
section:before, section:after{
    content: "";
    display: block;
    clear: both;
}