@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Source+Sans+Pro:300,400,700');

body {
  margin: 0;
  padding: 0;
}

.face {
  width: 100%;
  min-height: 100vh;
  background: url("../img/bg1.png") no-repeat;
  background-size: cover;
  position: relative;

  .logo {
    margin: 3.367% 0 0 5.197%;
  }
  ul {
    width: 24.693%;
    height: 4.831%;
    position: absolute;
    top: 3.367%;
    right: 5.783%;

    li {
      display: inline-block;
      margin: 0 9px 0 0;
      a {
        text-decoration: none;
        color: #edebe7;
        font: 400 16px/.75px Open Sans, sans-serif;
        padding: 10px;
        &:hover {
          border: 1px solid #edebe7;
          border-radius: 20px;
          padding: 10px;
        }

      }
    }

  }
  h1 {
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font: 300 35px/2px Source Sans Pro, sans-serif;
    letter-spacing: .2em;
    margin: 225px 0 40px 0;
  }
  p {
    text-align: center;
    color: #ffffff;
    font: 400 16px Open Sans, sans-serif;
    letter-spacing: .05em;
  }
  &:after, &:before {
    content: '';
    clear: both;
    display: block;
  }
}

.masonry {
  width: 100%;
  min-height: 1409px;
  background: #f3f3f3;
  padding: 1px;
  position: relative;
  .element-gride {
    width: 85.651%;
    margin: 0 auto;
    margin-top: 170px;

    .element-item {
      padding: 2px;

    }
    .persent-size {
      width: 24%;

    }
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    font: 300 20px/.6px Source Sans Pro, sans-serif;
    letter-spacing: .2em;
    margin: 87px 0 35px 0;
    color: #333b46;
  }
  p {
    text-align: center;
    font: 400 14px Open Sans, sans-serif;
    letter-spacing: .025em;
    color: #a7aab0;
  }
  ul {
    width: 32.916%;
    height: 4.831%;
    position: absolute;
    top: 19.326%;
    right: 30.699%;
    margin: 0;

    li {
      display: inline-block;
      margin: 0 34px 0 0;
      a {
        text-decoration: none;
        color: #464646;
        font: 400 16px/.75px Open Sans, sans-serif;

        &:hover {
          border-bottom: 2px solid #19bd9a;
          width: 37px;
          padding-bottom: 13px;

        }

      }
    }

  }

}

.slider {
  h2 {
    text-align: center;
    text-transform: uppercase;
    font: 300 20px/.6px Source Sans Pro, sans-serif;
    letter-spacing: .2em;
    margin: 76px 0 35px 0;
    color: #333b46;
    padding-bottom: 1px;
  }
  p {
    text-align: center;
    font: 400 14px Open Sans, sans-serif;
    letter-spacing: .025em;
    color: #a7aab0;
    margin-bottom: 60px;
  }

  .slick {
    width: 75.402%;
    max-height: 48.370%;
    margin: 0 auto;
    display: block;
    h3 {

      font: 400 20px Open Sans, sans-serif;
      color: #6b6b6b;
      margin: 0 0 0 83.885%;
      border-right: 2px solid #19bd9a;
    }
    h4 {
      margin: 0 0 0 81.448%;
      font: 300 14px Source Sans Pro, sans-serif;
      letter-spacing: .1em;
      border-right: 2px solid #19bd9a;
    }
    p {
      width: 27.282%;
      float: right;
      font: 400 14px Open Sans, sans-serif;
      letter-spacing: .025em;
      color: #a7aab0;
      text-align: right;
      margin-top: 30px;
    }
    img {
      margin-top: -74px;
    }

  }

}

@import 'slick';
.slick {
  padding: 30px;
  &-arrow {
    position: absolute;
    top: 50%;
    font-size: 0;
    width: 20px;
    height: 20px;
    z-index: 1;
    margin-top: -10px;
    &.slick-prev {
      left: 0;
    }
    &.slick-next {
      right: 0;
    }
  }
  &-dots {
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 5px;
      button {
        padding: 0;
        font-size: 0;
        display: block;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: none;
        outline: none;
        cursor: pointer;
        margin-bottom: 56px;
      }
      &.slick-active {
        button {
          background: #19bd9a;
        }
      }
    }
  }
}

.contact {
  width: 100%;
  min-height: 200px;
  background: url("../img/contactbg.png") no-repeat;
  background-size: cover;
  padding:1px 0 1px 0;
  h2 {
    text-align: center;
    font: 400 20px/1.25px Open Sans, sans-serif;
    letter-spacing: .04em;
    color: #ffffff;
    margin: 75px 0 36px 0;
  }
  a{
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    margin: 0 0 0 47.144%;
    padding: 14px;
    font: 400 16px Open Sans, sans-serif;
    border: 1px solid #ffffff;
    border-radius: 28px;
    &:hover{
      padding: 16px;
      border-radius: 32px;
      color: #202cff;
    }

  }
}
.sliderTwo{
  background: #f3f3f3;
  padding: 1px 0 1px 0;
  h2 {
    text-align: center;
    text-transform: uppercase;
    font: 300 20px/.6px Source Sans Pro, sans-serif;
    letter-spacing: .2em;
    margin: 76px 0 35px 0;
    color: #333b46;
    padding-bottom: 1px;
  }
  p {

    text-align: center;
    font: 400 14px Open Sans, sans-serif;
    letter-spacing: .025em;
    color: #a7aab0;
    margin-bottom: 60px;
  }
  .slicks{
    width: 75.402%;
    max-height: 48.370%;
    margin: 0 auto;
    display: block;
    background: #ffffff;
    padding: 1px;
    margin-bottom: 54px;
    p{
      width: 54.904%;
      text-align: left;
      margin: 60px 0 0 29.282%;

    }
    h3{
      margin: 32px 0 0 29.282%;
      color: #19bd9a;
    font: 700 16px Open Sans, sans-serif;
    }
    h4{
      margin: 10px 0 0 29.282%;
      font: 400 14px Open Sans, sans-serif;
    }
    img{
      margin: -131px 0 132px 10%;
    }
  }
}
.footer{
  background: #ffffff;
  padding: 1px 0 1px 0;
  min-height: 944px;
  h2 {
    text-align: center;
    text-transform: uppercase;
    font: 300 20px/.6px Source Sans Pro, sans-serif;
    letter-spacing: .2em;
    margin: 76px 0 35px 0;
    color: #333b46;
    padding-bottom: 1px;
  }
  p {

    text-align: center;
    font: 400 14px Open Sans, sans-serif;
    letter-spacing: .025em;
    color: #a7aab0;
    margin-bottom: 60px;
  }
  #locationBlock{
    min-height: 440px;
    width: 100%;
    h2{
      color: #19bd9a;
      font: 700 16px Open Sans, sans-serif;
    }
  }
  h3{
    text-align: center;
    text-transform: uppercase;
    margin: 71px 0 20px 0;
   a{
     color: #323a45;
     text-decoration: none;
     font: 700 36px Open Sans, sans-serif;
   }
  }
  .seti{
    width: 30.03%;
    margin-left: 42%;
    a{
        text-decoration: none;
        img{
          padding: 10px;
      }
    }
  }

}



